---
layout: base
---
<div id="calendar-container" style="margin: 3em 0"></div>
<script type="text/javascript">
  const options = {
    src: 'eclipse-foundation.org_e9ki8t2gc75sh07qdh95c8ofvc%40group.calendar.google.com',
    ctz: Intl.DateTimeFormat().resolvedOptions().timeZone,
    showCalendars: '0' // it's only one calendar, so hide the calendar selector
  };
  let query = Object.entries(options).map(([key, value]) => `${key}=${value}`).join('&');
  const url = `https://calendar.google.com/calendar/embed?${query}`;
  const style = 'display:block;border:none;width:100%;';
  const attributes = 'width="100%" height="600"';
  const iframe = `<iframe src="${url}" style="${style}" ${attributes}></iframe>`;
  document.getElementById('calendar-container').innerHTML = iframe;
</script>
